<div class="mt-4">
<form method="POST" action="">
  <div class="form-group">
    <label for="search-input">Keywords</label>
    <input type="text" name="q" class="form-control" id="search-input" aria-describedby="Enter keywords...">
  </div>
  <div class="form-group">
    <label for="gender-input">Keywords</label>
    <select type="gender" name="q" class="form-control" id="gender-input">
        <option value="">-- Select gender --</option>
        <option value="">Male</option>
        <option value="">Female</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>
</div>